body {
}

.debug
{
    border: 1px solid red; 
}

#headerbackground 
{
    background: #14243C
}

#headertitle {
    color: white;

}

#auth
{
    font-size: 1.5em; 
    vertical-align: text-bottom; 
}

.authorised {
    color: white;
    border: 1px solid #14243C;
    background-color: green; 
    text-align: center; 
}

.notauthorised {
    color: white;
    border: 1px solid #14243C;
    background-color: red;
    text-align: center;

}

#logo {
    width: 70%;
    height: 70%;
    padding-left: 1em;
    padding-top: 1em;
}

/* Google Maps */
#map {
    display: block;
    height: 500px;
    width: 100%;
    padding: 0;
    margin: 0

}